<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#고산" data-toc-modified-id="고산-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>고산</a></span><ul class="toc-item"><li><span><a href="#기온" data-toc-modified-id="기온-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>기온</a></span></li><li><span><a href="#풍속" data-toc-modified-id="풍속-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>풍속</a></span></li><li><span><a href="#습도" data-toc-modified-id="습도-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>습도</a></span></li><li><span><a href="#강수량" data-toc-modified-id="강수량-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>강수량</a></span></li></ul></li><li><span><a href="#서귀포" data-toc-modified-id="서귀포-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>서귀포</a></span></li><li><span><a href="#성산" data-toc-modified-id="성산-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>성산</a></span></li><li><span><a href="#제주" data-toc-modified-id="제주-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>제주</a></span></li></ul></div>

- 전처리한 2022년 데이터와 2021년 데이터 결합
- 기온, 풍속, 습도, 강수량

### 고산

In [45]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('./제주도/고산_2021_시간별.csv',encoding='cp949')
df2 = pd.read_excel('./제주도/고산_2022_시간별_기온.xlsx',index_col=0)
df3 = pd.read_excel('./제주도/고산_2022_시간별_풍속.xlsx',index_col=0)
df4 = pd.read_excel('./제주도/고산_2022_시간별_습도.xlsx',index_col=0)
df5 = pd.read_excel('./제주도/고산_2022_시간별_강수량.xlsx',index_col=0)

In [46]:
df1

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,185,2021-01-01 00:00,4.4,0.0,15.0,320.0,65.0,5.4,-1.6,1017.5,...,NaN,NaN,2000.0,NaN,NaN,1.8,NaN,NaN,NaN,NaN
1,185,2021-01-01 01:00,4.5,NaN,15.3,340.0,66.0,5.6,-1.3,1017.4,...,NaN,10.0,2000.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,185,2021-01-01 02:00,4.4,NaN,12.9,340.0,61.0,5.1,-2.4,1017.5,...,NaN,12.0,2000.0,NaN,NaN,1.8,NaN,NaN,NaN,NaN
3,185,2021-01-01 03:00,4.3,0.0,13.4,340.0,66.0,5.5,-1.5,1018.0,...,NaN,10.0,2000.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,185,2021-01-01 04:00,4.5,NaN,13.7,340.0,62.0,5.2,-2.1,1018.0,...,NaN,13.0,2000.0,NaN,NaN,1.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,185,2021-12-31 19:00,4.8,NaN,12.0,360.0,65.0,5.6,-1.2,1020.5,...,NaN,9.0,2000.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN
8756,185,2021-12-31 20:00,4.5,NaN,11.2,360.0,66.0,5.6,-1.3,1020.9,...,NaN,8.0,2000.0,NaN,NaN,4.8,NaN,NaN,NaN,NaN
8757,185,2021-12-31 21:00,4.4,0.0,8.9,360.0,65.0,5.4,-1.6,1022.1,...,NaN,9.0,2000.0,NaN,NaN,4.6,NaN,NaN,NaN,NaN
8758,185,2021-12-31 22:00,4.1,NaN,7.4,360.0,67.0,5.5,-1.4,1022.3,...,NaN,9.0,2000.0,NaN,NaN,4.5,NaN,NaN,NaN,NaN
8759,185,2021-12-31 23:00,3.9,NaN,7.3,360.0,68.0,5.5,-1.4,1022.7,...,NaN,8.0,2000.0,NaN,NaN,4.5,NaN,NaN,NaN,NaN

#### 기온

In [23]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','기온(°C)']]
df1
result = pd.concat([df1,df2])
result = result.reset_index(drop=True)
result

                       일시  기온(°C)
0     2021-01-01 00:00:00     4.4
1     2021-01-01 01:00:00     4.5
2     2021-01-01 02:00:00     4.4
3     2021-01-01 03:00:00     4.3
4     2021-01-01 04:00:00     4.5
...                   ...     ...
13844 2022-07-31 20:00:00    26.0
13845 2022-07-31 21:00:00    26.7
13846 2022-07-31 22:00:00    26.6
13847 2022-07-31 23:00:00    27.2
13848 2022-08-01 00:00:00    27.4

[13849 rows x 2 columns]

In [24]:
result.to_excel('./제주도/고산_기온_최종.xlsx')

#### 풍속

In [26]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','풍속(m/s)']]
df1
result = pd.concat([df1,df3])
result = result.reset_index(drop=True)
result

                       일시  풍속(m/s)
0     2021-01-01 00:00:00     15.0
1     2021-01-01 01:00:00     15.3
2     2021-01-01 02:00:00     12.9
3     2021-01-01 03:00:00     13.4
4     2021-01-01 04:00:00     13.7
...                   ...      ...
13844 2022-07-31 20:00:00      9.4
13845 2022-07-31 21:00:00     11.4
13846 2022-07-31 22:00:00     11.7
13847 2022-07-31 23:00:00      9.5
13848 2022-08-01 00:00:00      9.4

[13849 rows x 2 columns]

In [27]:
result.to_excel('./제주도/고산_풍속_최종.xlsx')

#### 습도

In [29]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','습도(%)']]
df1
result = pd.concat([df1,df4])
result = result.reset_index(drop=True)
result

                       일시  습도(%)
0     2021-01-01 00:00:00   65.0
1     2021-01-01 01:00:00   66.0
2     2021-01-01 02:00:00   61.0
3     2021-01-01 03:00:00   66.0
4     2021-01-01 04:00:00   62.0
...                   ...    ...
13844 2022-07-31 20:00:00   98.0
13845 2022-07-31 21:00:00   98.0
13846 2022-07-31 22:00:00   98.0
13847 2022-07-31 23:00:00   98.0
13848 2022-08-01 00:00:00   98.0

[13849 rows x 2 columns]

In [30]:
result.to_excel('./제주도/고산_습도_최종.xlsx')

#### 강수량

In [47]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','강수량(mm)']]
df1['강수량(mm)'].fillna(0,inplace=True) # null값 대체
result = pd.concat([df1,df5])
result = result.reset_index(drop=True)
result

C:\Users\User\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

                       일시  강수량(mm)
0     2021-01-01 00:00:00      0.0
1     2021-01-01 01:00:00      0.0
2     2021-01-01 02:00:00      0.0
3     2021-01-01 03:00:00      0.0
4     2021-01-01 04:00:00      0.0
...                   ...      ...
13844 2022-07-31 20:00:00      0.0
13845 2022-07-31 21:00:00      0.0
13846 2022-07-31 22:00:00      0.0
13847 2022-07-31 23:00:00      0.9
13848 2022-08-01 00:00:00      0.2

[13849 rows x 2 columns]

In [48]:
result.to_excel('./제주도/고산_강수량_최종.xlsx')

### 서귀포

In [55]:
df1 = pd.read_csv('./제주도/서귀포_2021_시간별.csv',encoding='cp949')
df2 = pd.read_excel('./제주도/서귀포_2022_시간별_기온.xlsx',index_col=0)
df3 = pd.read_excel('./제주도/서귀포_2022_시간별_풍속.xlsx',index_col=0)
df4 = pd.read_excel('./제주도/서귀포_2022_시간별_습도.xlsx',index_col=0)
df5 = pd.read_excel('./제주도/서귀포_2022_시간별_강수량.xlsx',index_col=0)

In [50]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','기온(°C)']]
df1
result = pd.concat([df1,df2])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/서귀포_기온_최종.xlsx')

In [52]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','풍속(m/s)']]
df1
result = pd.concat([df1,df3])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/서귀포_풍속_최종.xlsx')

In [54]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','습도(%)']]
df1
result = pd.concat([df1,df4])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/서귀포_습도_최종.xlsx')

In [56]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','강수량(mm)']]
df1['강수량(mm)'].fillna(0,inplace=True) # null값 대체
result = pd.concat([df1,df5])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/서귀포_강수량_최종.xlsx')

### 성산

In [63]:
df1 = pd.read_csv('./제주도/성산_2021_시간별.csv',encoding='cp949')
df2 = pd.read_excel('./제주도/성산_2022_시간별_기온.xlsx',index_col=0)
df3 = pd.read_excel('./제주도/성산_2022_시간별_풍속.xlsx',index_col=0)
df4 = pd.read_excel('./제주도/성산_2022_시간별_습도.xlsx',index_col=0)
df5 = pd.read_excel('./제주도/성산_2022_시간별_강수량.xlsx',index_col=0)

In [58]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','기온(°C)']]
df1
result = pd.concat([df1,df2])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/성산_기온_최종.xlsx')

In [60]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','풍속(m/s)']]
df1
result = pd.concat([df1,df3])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/성산_풍속_최종.xlsx')

In [62]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','습도(%)']]
df1
result = pd.concat([df1,df4])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/성산_습도_최종.xlsx')

In [64]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','강수량(mm)']]
df1['강수량(mm)'].fillna(0,inplace=True) # null값 대체
result = pd.concat([df1,df5])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/성산_강수량_최종.xlsx')

### 제주

In [71]:
df1 = pd.read_csv('./제주도/제주_2021_시간별.csv',encoding='cp949')
df2 = pd.read_excel('./제주도/제주_2022_시간별_기온.xlsx',index_col=0)
df3 = pd.read_excel('./제주도/제주_2022_시간별_풍속.xlsx',index_col=0)
df4 = pd.read_excel('./제주도/제주_2022_시간별_습도.xlsx',index_col=0)
df5 = pd.read_excel('./제주도/제주_2022_시간별_강수량.xlsx',index_col=0)

In [66]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','기온(°C)']]
df1
result = pd.concat([df1,df2])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/제주_기온_최종.xlsx')

In [68]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','풍속(m/s)']]
df1
result = pd.concat([df1,df3])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/제주_풍속_최종.xlsx')

In [70]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','습도(%)']]
df1
result = pd.concat([df1,df4])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/제주_습도_최종.xlsx')

In [72]:
df1['일시'] = df1['일시'].astype(np.datetime64)
df1 = df1[['일시','강수량(mm)']]
df1['강수량(mm)'].fillna(0,inplace=True) # null값 대체
result = pd.concat([df1,df5])
result = result.reset_index(drop=True)
result
result.to_excel('./제주도/제주_강수량_최종.xlsx')